
<h3>Seasonal Fruits</h3>

<div class="row">

  <div class="col-10 mt-5">

    

    <h4>Summer</h4>
    <p class="mb-5"> Apricots, bananas, berries, cherries, figs, grapefruit, grapes, melons, Valencia oranges, peaches, pears, plums, strawberries</p>

    <h4>Autumn</h4>
    <p class="mb-5"> Apples, bananas, figs, grapefruit, grapes, imperial mandarins, melons, Valencia oranges, pears, strawberries</p>

    <h4>Spring</h4>
    <p class="mb-5"> Bananas, berries, grapefruit, lemons, limes, imperial mandarins, strawberries</p>

    <h4>Winter</h4>
    <p class="mb-5"> Apples, bananas, grapefruit, kiwifruit, lemons, limes, imperial mandarins, Navel oranges, pears</p>


   
  </div>
  
</div>