

<div class=" d-flex flex-column justify-content-start " style="width:100%">
  <div class="col md-1 ">
    
    <h5>Sender: <%= message.sender%></h5>
  </div>

  <div class="col md-4">
    <h5>Message: </h5>
    <p><%= message.body %></p>
  </div>

  <div class="col md-4 d-flex justify-content-end">
    <% if  user_signed_in? && (current_user.id == message.user_id || current_user.farmer == @farmer|| current_user.admin)%>
      <%= link_to 'Delete', [@farmer, message], method: :delete, data: { confirm: 'Confirm to delete?'}, class: "btn btn-outline-warning sm", id: "delete-message"  %>
    <% end %>
  </div>
</div>