
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.card-body{
 
 a {
  text-decoration: none;
  background-color: transparent;
  color: transparent;
}


 a:hover {
  text-decoration: none;
  background-color: transparent;
  color: transparent;

  }
}



.card-body {
  font-family: 'Nanum Myeongjo', serif;
}
