
.card-body{
 
 a {
  text-decoration: none;
  background-color: transparent;
  color: transparent;
}


 a:hover {
  text-decoration: none;
  background-color: transparent;
  color: transparent;

  }
}