// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card {
  max-width: 500px;
  margin:10px;
  
  

    img{
      max-width: 300px;
    }
  
}