
@media screen and (max-width: 750px) {
  h1 {
    font-size: 30px;
  }
  article {
    font-size: 12px;
  }

  .show-edit-delete{
    font-size: 10px;
  }

  #contact-us-pic{
  
    img{
    max-width: 130px;
    max-height: 130px;
    }
    button {
      max-width: 130px;
    }
  }
}

