
@media screen and (max-width: 750px) {
  h1 {
    font-size: 30px;
  }
  article {
    font-size: 12px;
  }

  .show-edit-delete{
    font-size: 10px;
  }

}

@media screen and (max-width: 900px) {
 
  #contact-us-pic{
    h3 {
      font-size: 25px;
    }
    img{
    max-width: 100px;
    max-height: 100px;
    }
    button {
      max-width: 100px;
    }
  }
}
