
.form-group, .custom-file, #new-product-links {
  font-family: 'Nanum Myeongjo', serif;
}

img.card-img-top.img_fluid {
  max-width: 300px;
}

.card {
  align-items: center;
}

#product-show{

font-family: 'Nanum Myeongjo', serif;
}