
<% if current_user.farmer %>
  <h1><%= "#{current_user.farmer.name} Dashboards" %></h1>
<% elsif current_user.admin? %>
  <h1><%= "#{current_user.username} Admin" %></h1>
<% end %>

<div class="row justify-content-around">
  <% @products.each do |product| %>
    <%= render 'card', product: product %>
  <% end %>
  
</div>



