@import 'layouts/flash';
@import 'styles/products';
@import 'styles/_card';
@import 'styles/carts';
@import 'styles/dashboards';
@import 'styles/farmers';
@import 'styles/forms';
@import 'styles/home';
@import 'styles/users';



@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@1,300&family=Dosis:wght@300&family=Playfair+Display:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

h1, h2, h3, h4, h5 {
  font-family: 'DM Mono', monospace;
}

.show-edit-delete, #show-edit-delete{
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
}

p, #user-table {
  font-family: 'Nanum Myeongjo', serif;
}

li {
  
  margin: 10px;
  font-family: 'Nanum Myeongjo', serif;
}

#sign-up, #logout, #login, #devise-links, .form-row {
  font-family: 'Nanum Myeongjo', serif;
} 