
<h1>Farms' Locations</h1>

<% @farm_locations.each do |farm| %>
  <h4>Farmer: <%= farm.farmer.name %></h4>
  <h5>Address: <%= farm.address %></h5>
<% end %>


<div style="height: 500px" id="map"></div>
<%= javascript_pack_tag "leaflet/index" %>