
<div class="row">
  <h2 class="mt-5 mb-3 ml-3"><%=  @farm_location.farmer.name %> 's Farm</h2>
</div>
<div class="row">
  <h4 class="mb-4 ml-3">Address: <%= @farm_location.address %></h4>
</div>

<div class=" map-layout" style="height: 500px">
  <div style="height: 500px" id="map">
  <%= javascript_pack_tag "leaflet/show" %>
  </div>
</div>