
<h2 class="mt-5 mb-3"><%=  @farm_location.farmer.name %> 's Farm</h2>
<h3 class="mb-3">Address: <%= @farm_location.address %></h3>



<div style="height: 500px" id="map"></div>
<%= javascript_pack_tag "leaflet/show" %>